@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

img {
    width: 400px;
  }
  body {
    text-align: center;
  }
  body {
    text-align: center;
    font-family: 'Arial';
  }
  body {
    text-align: center;
    font-family: 'Arial';
    background: #f3eadb;
    color: #121d14;
  }
button{
  background-color: #c0cfb2;
  color: #121d14;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Arial';
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px 5px;

  background: #121d14;
  color: #f3eadb;
  font-size: 16px;
}
h1{
  font-family: "Nanum Gothic Coding", monospace;
  font-size: 100;
  font-weight: 400;
  text-align: center;
  color: ;
  line-height: 60px; 
}