img {
    width: 400px;
  }
  body {
    text-align: center;
  }
  body {
    text-align: center;
    font-family: 'Arial';
  }
  body {
    text-align: center;
    font-family: 'Arial';
    background: #f3eadb;
    color: #121d14;
  }
button{
  background-color: #c0cfb2;
  color: #121d14;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Arial';
}